<p>
    Bonjour <%= username %>,
</p>
<p>
    Veuillez utiliser le lien ci-dessous afin de réinitialiser votre mot de passe :<br/>
    <a href="<%= resetUrl %>"><%= resetUrl %></a>
</p>
<p>
    Wikisto.com
</p>
