<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour accéder à l'administration</h3>
</div>

<div ng-show="isLoggedIn()">

    <ul id="adminMenu" class="spacer">
        <li>
            <a href='/#/recipe'>Recettes</a>
        </li>
        <li>
            <a href='/#/user'>Utilisateurs</a>
        </li>
        <li class="last">
            <a href='/#/glossary'>Glossaire</a>
        </li>
    </ul>
    <div class="clearer"></div>

</div>