<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour accéder à l'administration</h3>
</div>

<div ng-show="isLoggedIn()">

    <ul id="adminMenu" class="spacer">
        <li>
            <a class="fa fa-cutlery" href='/#/recipe'></a>
        </li>
        <li>
            <a class="fa fa-users" href='/#/user'></a>
        </li>
        <li class="last">
            <a class="fa fa-book" href='/#/glossary'></a>
        </li>
        <li>
            <a class="fa fa-exclamation-triangle" href='/#/alert'></a>
        </li>
        <li>
            <a href='/#/admin'></a>
        </li>
        <li class="last">
            <a href='/#/admin'></a>
        </li>
    </ul>
    <div class="clearer"></div>

</div>