<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Recettes à la une</h2>
    </div>
    <div class="panel-body thumbs">
        <div class="thumb" ng-repeat="recipe in recipes| orderBy:'-lastModificationDate'">
            <a href="#/recipe/{{recipe._id}}">
                <img class="thumb-image" src="/uploads/{{recipe.imageName}}" />
            </a>
            <div class="thumb-text">
                <a href="#/recipe/{{recipe._id}}">
                    {{recipe.title}}
                </a>
            </div>
        </div>
    </div>
</div>
