<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Recettes</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="recipe in recipes| orderBy:'-title'">
            <span>
                <a href="#/recipe/{{recipe._id}}">
                    {{recipe.title}}
                </a>
            </span>
            <div ng-repeat="step in recipe.steps| orderBy:'-order'">
                <span>
                    {{step.description}}
                </span>
            </div>
        </div>
    </div>
</div>
