<div class="search-section">
    <form class="search-form" ng-submit="searchRecipes(searchText)">
        <input class="search-input" type="text" ng-model="searchText" placeholder="Rechercher une recette ..." /><button type="submit" class="icon fa fa-search"></button>
    </form>
</div>
    
<button type="button" ng-click="addRecipe()" class="fa fa-plus button-icon button-add-recipe">Proposer une recette</button>
<div class="panel clearer">
    <div class="panel-heading">
        <h2 class="panel-title">Recettes à la une</h2>
    </div>
    <div class="panel-body thumbs">
        <div class="thumb" ng-class="{first:$index%4 === 0,last:$index%4 === 3}" ng-repeat="recipe in recipes| orderBy:'-lastModificationDate'">
            <div class="thumb-image">
                <a ng-show="recipe.imageName" href="#/recipe/{{recipe._id}}">
                    <img class="thumb-image" src="/uploads/{{recipe.imageName}}" />
                </a>
            </div>
            <div class="thumb-text">
                <a href="#/recipe/{{recipe._id}}">
                    {{recipe.title}}
                </a>
            </div>
        </div>
    </div>
</div>
