<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour modifier les utilisateurs</h3>
</div>
<form ng-submit="saveUserPassword()" ng-show="isLoggedIn()">
    
    <div class="alert alert-success" ng-show='successMsg'>
        {{successMsg}}
    </div>
    <div class="alert alert-error" ng-show='errorMsg'>
        {{errorMsg}}
    </div>

    <h2>Utilisateur</h2>

    <div>
        <input name="email"
               type="text"
               placeholder='Email'
               ng-required="true"
               ng-model="user.email" />
        
        <input name="password"
               type="password"
               placeholder='Mot de passe'
               ng-required="true"
               ng-model="user.password" />
        
    </div>

    <button type="submit" class="btn">Valider</button>
    
    <div class="back">
        <a href="/#/user">Retour</a>
    </div>
</form>