<h2>Utilisateurs</h2>

<a class="fa fa-plus padding-icon" href='/#/admin/user/form'>Ajouter un utilisateur</a>

<table>
    <tr>
        <th>
            Email
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <tr ng-repeat="user in users| orderBy:'+email'">
        <td>
            <a href="#/user/form/{{user._id}}">{{user.email}}</a>
        </td>
        <td class="icon">
            <button class="icon fa fa-key" ng-click='gotoChangePasswordForm(user)' title="Modifier le mot de passe"></button>
        </td>
        <td class="icon">
            <button class="icon fa fa-times" ng-click='remove(user)' title="Supprimer cet utilisateur"></button>
        </td>
    </tr>
</table>

<div class="back">
    <a href="/#/admin">Retour</a>
</div>