ul#adminMenu {
    width: 550px;
    margin: 20px auto 0px auto;
}

ul#adminMenu li {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $color-main;
    margin: 0px 50px 20px 0px;
    text-align: center;
}

ul#adminMenu li.last {
    margin-right: 0px;
}

ul#adminMenu li::before {
    content: none;
}

ul#adminMenu li a {
    line-height: 150px;
    color: $color-white;
    text-transform: uppercase;
    font-size: 4em;
}