/* Fonts */

@font-face{ 
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?iefix') format('eot'),
        url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
        url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
        url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#webfont') format('svg');
}

body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
}

body, p {
    color: $color-gray-dark;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    color: $color-green;
}

a {
    color: $color-green;
    text-decoration: none;
}

a:hover {
    color: $color-green-dark;
}

input {
    border: solid $color-green-dark 1px;
    border-radius: 5px;
    padding: 2px 4px;
}

button {
    border: none;
    font-size: 1.2em;
    padding: 5px 8px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

button.fa,
button.fa:hover,
button.fa:active,
button.fa:focus,
button.fa:visited {
    background-color: transparent;
    border: none;
    outline: none;
}

/* Navigation */
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: $color-green;
    border-radius: 0px;
}

.nav-pills>li>a:hover, .nav>li>a:focus {
    color: $color-green;
    background-color: transparent;
    text-decoration: underline;
}

/* Titles */

.page-header {
    border-bottom-color: $color-gray-dark;
}

/* Forms */
textarea {
    border-radius: 5px;
    border-color: $color-gray-dark;
}

.btn {
    background-color: $color-green;
    color: white;
}

/* Listes */

ul {
}

ul li {
    list-style-type: none;
}