/* Fonts */

@font-face{ 
    font-family: 'Roboto';
    src: url('/fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('/fonts/roboto_regular/Roboto-Regular-webfont.eot?iefix') format('eot'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.svg#webfont') format('svg');
}

body {
    font-size: 1.2em;
    background-color: $color-white;
    margin: 0px 10%;
    padding: 0px;
}

body, p, input, select, textarea, option {
    color: $color-gray-dark;
}

input, select, button, textarea {
    margin-top: 10px;
}

p {
    margin: 0px;
    padding: 0px;
}

body, p, input, select, option, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3 {
    color: $color-gray-dark;
}

a {
    color: $color-green;
    text-decoration: none;
}

a:hover {
    color: $color-green-dark;
}

button, input[type="submit"] {
    background-color: $color-green;
    color: $color-white;
    border: none;
    font-size: 0.9em;
    padding: 10px 15px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

button.fa,
button.fa:hover,
button.fa:active,
button.fa:focus,
button.fa:visited {
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-gray-dark;
    margin: 0px;
    padding: 0px;
}

/* Navigation */
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: $color-green;
    border-radius: 0px;
}

.nav-pills>li>a:hover, .nav>li>a:focus {
    color: $color-green;
    background-color: transparent;
    text-decoration: underline;
}

/* Titles */

.page-header {
    border-bottom-color: $color-gray-dark;
}

/* Forms */

textarea {
    border-radius: 5px;
    border-color: $color-gray-dark;
}

input[type="text"],
input[type="text"]:focus,
textarea {
    border: solid $color-gray 1px;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 1.1em;
    outline: none;
    width: 500px;
}

/* Listes */

ul {
}

ul li {
    list-style-type: none;
}

/* Table */

table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr th,
table tr td {
    padding: 5px 10px 5px 20px;
}

table tr th {
    border-top: none;
    border-right: none;
    border-bottom: solid 2px $color-green;
    border-left: none;
}

table tr td {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px $color-gray;
    border-left: none;
}

table tr td.icon {
    width: 40px;
}