/* Fonts */

@font-face{ 
    font-family: 'Roboto-Regular';
    src: url('/fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('/fonts/roboto_regular/Roboto-Regular-webfont.eot?iefix') format('eot'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
        url('/fonts/roboto_regular/Roboto-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Roboto-Thin';
    src: url('/fonts/roboto_thin/Roboto-Thin-webfont.eot');
    src: url('/fonts/roboto_thin/Roboto-Thin-webfont.eot?iefix') format('eot'),
        url('/fonts/roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
        url('/fonts/roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
        url('/fonts/roboto_thin/Roboto-Thin-webfont.svg#webfont') format('svg');
}

body {
    font-size: 1.2em;
    background-color: $color-white;
    margin: 0px;
    padding: 0px;
}

body, p, input, select, textarea, option {
    color: $color-gray-dark;
}

input, select, button, textarea {
    margin-top: 10px;
}

p {
    margin: 0px;
    padding: 0px;
}

body, h1, h2, h3, h4, p, input, textarea, keygen, select, button {
    font-family: 'Roboto-Thin', Arial, sans-serif;
}

h1 {
    color: $color-gray-dark;
    letter-spacing: 4px;
}

h2 {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: $color-main;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    color: $color-gray-dark;
}

a {
    color: $color-main;
    text-decoration: none;
}

button, input[type="submit"] {
    font-family: 'Roboto-Regular';
    background-color: $color-main;
    color: $color-white;
    border: none;
    font-size: 0.9em;
    padding: 15px 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

button.selected, input[type="submit"].selected {
    background-color: $color-gray-dark;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.fa::before {
    padding-right: 8px;
}

/* Navigation */
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: $color-main;
    border-radius: 0px;
}

.nav-pills>li>a:hover, .nav>li>a:focus {
    color: $color-main;
    background-color: transparent;
    text-decoration: underline;
}

/* Titles */

.page-header {
    border-bottom-color: $color-gray-dark;
}

/* Forms */

textarea {
    border-radius: 5px;
    border-color: $color-gray-dark;
}

input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="password"]:focus,
input[type="email"],
input[type="email"]:focus,
textarea {
    border: solid $color-gray 1px;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.1em;
    outline: none;
    width: 500px;
}

/* Listes */

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
    padding: 0px 0px 10px 0px;
} 

ul li:before {
    content: "- ";
    color: $color-main;
}

/* Table */

table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr th,
table tr td {
    padding: 5px 10px 5px 20px;
}

table tr th {
    border-top: none;
    border-right: none;
    border-bottom: solid 2px $color-main;
    border-left: none;
}

table tr td {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px $color-gray;
    border-left: none;
}

table tr td.icon {
    width: 40px;
}