
/**** HEADER ****/

#banner {
    width: 100%;
    padding: 10px;
}

#banner nav {
    float: right;
}

#banner nav ul {
    margin: 0px;
}

#banner ul li {
    float: left;
    list-style-type: none;
    padding: 0px 10px;
    border-right: solid $color-green 1px;
}

#banner ul li.last {
    border-right: none;
}

#logo img {
    width: 120px;
}

#banner a {
    color: $color-green;
}

#banner h1 {
    margin: 0px;
    color: $color-green;
    padding: 25px 0px 0px 70px;
}

#headerMenu {
    
}

#headerMenu li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid $color-green 1px;
}

#container {
    margin: 0px 20%;
}

/**** FOOTER ****/

#footer {
    margin-top: 30px;
    background-color: $color-gray-dark;
    width: 100%;
    float: left;
}

#footer ul {
    float: left;
}

#footer ul li {
    
}

#footer ul li a {
    color: $color-white;
}