
/**** HEADER ****/

#banner {
    width: 100%;
    padding: 10px;
}

#banner nav {
    float: right;
    margin-right: 10px;
}

#banner nav ul {
    margin: 0px;
}

#banner ul li {
    float: left;
    list-style-type: none;
    padding: 0px 10px;
}

#banner ul li:before {
    content: none;
}

#banner ul li.last {
    border-right: none;
}

#logo img {
    width: 120px;
}

#banner a {
    color: $color-main;
}

#banner h1 {
    margin: 0px auto;
    color: $color-gray;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

#headerMenu {
    
}

#headerMenu li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid $color-main 1px;
}

#headerMenu li:before {
    content: none;
}

/**** MAIN CONTAINER ****/

#container {
    margin: 0px auto;
    width: 1000px;
}

/**** FOOTER ****/

#footer {
    margin-top: 30px;
    width: 100%;
    float: left;
}

#footer ul {
    width: 400px;
    margin: 0 auto;
}

#footer ul li {
    float: left;
    border-right: solid $color-gray 1px;
    padding: 0px 10px;
    margin: 10px 0px;
    line-height: 18px;
}

#footer ul li.last {
    border-right: none;
}

#footer ul li:before {
    content: none;
}

#footer ul li a {
    color: $color-gray-dark;
    font-size: 0.8em;
}

h2.panel-title {
    padding-bottom: 5px;
}

.button-add-recipe {
    float: right;
    margin-top: 0px;
}

