/* Variables */

$color-gray-dark: #3B3738;
$color-green-dark: #005A31;
$color-green: #45bf55;

/* Others */

.clearer {
    clear: both;
}

.spacer {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}

.alt {
    background-color: #EEE;
}

.thumb {
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}
