<div ng-show="error" class="alert alert-error">
    <span>{{error.message}}</span>
</div>

<form ng-submit="logIn()"
      style="margin-top:30px;">
    <h2>Se connecter</h2>

    <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="Adresse email"
               ng-model="user.email"></input>
    </div>
    <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Mot de passe"
               ng-model="user.password"></input>
    </div>
    <div ng-hide="isLoggedIn()">
        <a href="/#/forgot">J'ai oublié mon mot de passe</a>
    </div>
    <button type="submit" class="btn">Valider</button>
    <span ng-hide="isLoggedIn()">
        <a href="/#/register">S'enregistrer</a>
    </span>

</form>