<div id="footer">
    <ul>
        <li>
            <a href="#">Copyright 2016 Wikisto</a>
        </li>
        <li class="last">
            <a href="#">Conditions d'utilisation</a>
        </li>
    </ul>
</div>