<div id="header">
    <div id="banner">
        <nav ng-controller="NavCtrl">
            <ul>
                <li ng-show="isLoggedIn()">
                    <a href="" ng-click="logOut()">Se déconnecter</a>
                </li>
                <li ng-hide="isLoggedIn()">
                    <a href="/#/login">S'identifier</a>
                </li>
            </ul>
        </nav>
        <div id="title">
            <a href="/">
                Wikisto
            </a>
        </div>
    </div>
</div>