<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour modifier le glossaire</h3>
</div>
<form ng-submit="saveGlossary()" ng-show="isLoggedIn()">

    <cook-modal show='modalShown' width='400px' height='60%'>
      Test
    </cook-modal>
    
    <div class="alert alert-success" ng-show='successMsg'>
        {{successMsg}}
    </div>
    <div class="alert alert-error" ng-show='errorMsg'>
        {{errorMsg}}
    </div>

    <h2>Glossaire</h2>

    <div>
        <input type="text"
               placeholder='Titre'
               ng-required="true"
               ng-model="glossary.title" />
        
        <input type="text"
               placeholder='Termes à remplacer, séparés par des ","'
               ng-required="true"
               ng-model="glossary.terms" />
        
        <textarea ng-required="true"
                  ng-model="glossary.definition"
                  rows="6"></textarea>
    </div>

    <button type="submit" class="btn">Valider</button>
    
    <div class="back">
        <a href="/#/glossary">Retour</a>
    </div>
</form>