<h2>Glossaire</h2>

<a class="fa fa-plus padding-icon" href='/#/glossary/form'>Ajouter une définition</a>

<table>
    <tr>
        <th>
            Définition
        </th>
        <th>
        </th>
    </tr>
    <tr ng-repeat="glossary in glossaries| orderBy:'+term'">
        <td>
            <a href="#/glossary/form/{{glossary._id}}">{{glossary.title}}</a>
        </td>
        <td class="icon">
            <button class="icon fa fa-times" ng-click='remove(glossary)'></button>
        </td>
    </tr>
</table>

<div class="back">
    <a href="/#/admin">Retour</a>
</div>