<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour acc&der à cette page</h3>
</div>
<form ng-submit="saveAlert()" ng-show="isLoggedIn()">
    
    <div class="alert alert-success" ng-show='successMsg'>
        {{successMsg}}
    </div>
    <div class="alert alert-error" ng-show='errorMsg'>
        {{errorMsg}}
    </div>
    
    <h2>Avertir un modérateur</h2>
    
    <div ng-hide="successMsg">

        Recette sur laquelle a lieu le signalement : <a href="/#/recipe/{{recipe._id}}">{{recipe.title}}</a>
        <div>
            <textarea placeholder='Description du comportement ou du contenu inapproprié...'
                      ng-model="alert.comment"
                      ng-required="true"
                      rows="5"></textarea>

        </div>
        <button type="submit" class="btn">Valider</button>
    </div>
    <div class="back">
        <a href="/#/recipe/{{recipe._id}}">Retour</a>
    </div>
</form>