
<h2>{{recipe.title}}</h2>

<div class="subtitle">
    Proposé par {{recipe.user.username}} le {{recipe.creationDate| date:'dd/MM/yyyy'}}
</div>

<ul class="recipe-information-bar">
    <li class="first">
        Version :
        <span ng-show="{{recipe.version === 1}}">Rapide</span>
        <span ng-show="{{recipe.version === 2}}">Classique</span>
        <span ng-show="{{recipe.version === 3}}">Gastronomique</span>
    </li>
    <li>
        Difficulté :
        <span ng-show="{{recipe.difficulty === 1}}">Facile</span>
        <span ng-show="{{recipe.difficulty === 2}}">Moyen</span>
        <span ng-show="{{recipe.difficulty === 3}}">Difficile</span>
    </li>
    <li>
        Coût :
        <span ng-show="{{recipe.cost === 1}}">€</span>
        <span ng-show="{{recipe.cost === 2}}">€€</span>
        <span ng-show="{{recipe.cost === 3}}">€€€</span>
        <span ng-show="{{recipe.cost === 4}}">€€€€</span>
    </li>
    <li class="last">
        Durée : {{recipe.duration}}
    </li>
</ul>

<div class="trick-section">
    <div class="trick" ng-repeat="trick in recipe.tricks| orderBy:'+creationDate'">
        <div class="trick-title">Astuce de {{trick.user.username}}</div>
        <div class="trick-content">
            {{trick.content}}
        </div>
        <div class="trick-vote">
            <span class="trick-vote-score">
                <span ng-show="trick.score >= 0" class="icon fa fa-plus"></span>
                <span ng-show="trick.score < 0" class="icon fa fa-minus"></span>
                {{trick.score}}
            </span>
            <button class="pointer icon fa fa-thumbs-down" ng-click="downvoteTrick(trick)"></button>
            <button class="pointer icon fa fa-thumbs-up" ng-click="upvoteTrick(trick)"></button>
        </div>
    </div>
</div>

<div class="recipe-picture">
    <img ng-show="recipe.imageName !== undefined" class="thumbnail" src="/uploads/{{recipe.imageName}}" />
</div>

<h3>Ingrédients :</h3>
<ul>
    <li ng-repeat="ingredient in recipe.ingredients| orderBy:'+order'">
        {{ingredient.name}}
    </li>
</ul>

<div ng-repeat="step in recipe.steps| orderBy:'+order'">
    <h3>Etape {{step.order}} :</h3>
    <img ng-show="{{step.imageName}}" class="thumbnail" src="/uploads/{{step.imageName}}" />
    <div class="recipe-description">
        <span ng-bind-html="displayDescription(step)"></span>
    </div>
</div>

<p>
    <a class="button" href="/#/recipe/form/{{recipe._id}}">Modifier</a>
</p>



<form ng-submit="saveTrick()" ng-show="isLoggedIn()">
    <div class="alert alert-success" ng-show='trickSuccessMsg'>
        {{trickSuccessMsg}}
    </div>
    <div class="alert alert-error" ng-show='trickErrorMsg'>
        {{trickErrorMsg}}
    </div>
    <div>
        <h3 style="margin-bottom: 0px">Astuce :</h3>
        <textarea ng-model="newTrick.content" ng-required="true" rows="5"></textarea>
    </div>
    <button type="submit" class="btn">Valider</button>
</form>

<button type="button" ng-click="addAlert()" class="fa fa-exclamation-triangle button-icon button-add-alert">Avertir un modérateur</button>
        
<div class="comment-section">
    <h3 style="margin-bottom: 0px">Commentaires</h3>

    <div class="comment" ng-repeat="comment in recipe.comments| orderBy:'+creationDate'">
        <div class="comment-user">
            {{comment.user.username}} le {{comment.creationDate| date:'dd/MM/yyyy'}} à {{comment.creationDate| date:'HH:mm:ss'}}
        </div>
        <span class="fa fa-star-o" ng-show="comment.score <= 0"></span><span class="fa fa-star" ng-show="comment.score > 0"></span>
        <span class="fa fa-star-o" ng-show="comment.score <= 1"></span><span class="fa fa-star" ng-show="comment.score > 1"></span>
        <span class="fa fa-star-o" ng-show="comment.score <= 2"></span><span class="fa fa-star" ng-show="comment.score > 2"></span>
        <span class="fa fa-star-o" ng-show="comment.score <= 3"></span><span class="fa fa-star" ng-show="comment.score > 3"></span>
        <span class="fa fa-star-o" ng-show="comment.score <= 4"></span><span class="fa fa-star" ng-show="comment.score > 4"></span>
        <div class="comment-content">
            {{comment.content}}
        </div>
    </div>

    <form ng-submit="saveComment()" ng-show="isLoggedIn()">
        <div class="alert alert-success" ng-show='commentSuccessMsg'>
            {{commentSuccessMsg}}
        </div>
        <div class="alert alert-error" ng-show='commentErrorMsg'>
            {{commentErrorMsg}}
        </div>
        <div>
            <h3 style="margin-bottom: 0px">Ajouter un commentaire :</h3>
            <span class="pointer fa fa-star-o" ng-show="newComment.score <= 0" ng-click="newComment.score = 1"></span>
            <span class="pointer fa fa-star" ng-show="newComment.score > 0" ng-click="newComment.score = 1"></span>
            <span class="pointer fa fa-star-o" ng-show="newComment.score <= 1" ng-click="newComment.score = 2"></span>
            <span class="pointer fa fa-star" ng-show="newComment.score > 1" ng-click="newComment.score = 2"></span>
            <span class="pointer fa fa-star-o" ng-show="newComment.score <= 2" ng-click="newComment.score = 3"></span>
            <span class="pointer fa fa-star" ng-show="newComment.score > 2" ng-click="newComment.score = 3"></span>
            <span class="pointer fa fa-star-o" ng-show="newComment.score <= 3" ng-click="newComment.score = 4"></span>
            <span class="pointer fa fa-star" ng-show="newComment.score > 3" ng-click="newComment.score = 4"></span>
            <span class="pointer fa fa-star-o" ng-show="newComment.score <= 4" ng-click="newComment.score = 5"></span>
            <span class="pointer fa fa-star" ng-show="newComment.score > 4" ng-click="newComment.score = 5"></span>
            <div>
                <textarea ng-model="newComment.content" ng-required="true" rows="5"></textarea>
            </div>
            <button type="submit" class="btn">Valider</button>
        </div>
    </form>
</div>

<div class="clearer back">
    <a href="/#/">Retour à la page d'accueil</a>
</div>