<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour proposer une recette</h3>
</div>
<form ng-submit="addRecipe()" ng-show="isLoggedIn()">

    <div class="alert alert-success" ng-show='successMsg'>
        {{successMsg}}
    </div>
    <div class="alert alert-error" ng-show='errorMsg'>
        {{errorMsg}}
    </div>

    <h3>Ajouter une nouvelle recette</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Titre"
               ng-model="recipe.title" />

        <div ng-show='recipe.steps'>
            <div ng-class="{alt:step.order % 2 === 0}" class="update-step" ng-repeat="step in recipe.steps">
                <div>
                    <label for="desc{{step.order}}">
                        Etape n°{{step.order}} 
                        <button ng-hide="step.order === recipe.steps.length" ng-click="stepDown(step)" class="glyphicon glyphicon-arrow-down"></button>
                        <button ng-hide="step.order === 1" ng-click="stepUp(step)" class="glyphicon glyphicon-arrow-up"></button>
                        <button ng-click="remove(step)" class="glyphicon glyphicon-remove"></button>
                    </label><br />
                    <textarea id="desc{{step.order}}" ng-model="step.description" rows="5"></textarea>
                    <span>
                        <img class="thumb" ngf-thumbnail="file || '/images/thumb.jpg'">
                        <button class="glyphicon glyphicon-camera" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" 
                                ngf-resize="{quality: .8, width: 100, height: 100}"></button>
                    </span>
                </div>


            </div>
        </div>
        <button ng-click="addStep()" class="glyphicon glyphicon-plus"></button>
    </div>

    <button type="submit" class="btn">Valider</button>
</form>