<div ng-hide="isLoggedIn()">
    <h3>Vous devez vous <a href="/#/login">identifier</a> ou vous <a href="/#/register">inscrire</a> pour proposer une recette</h3>
</div>
<form ng-submit="addRecipe()" ng-show="isLoggedIn()">

    <div class="alert alert-success" ng-show='successMsg'>
        {{successMsg}}
    </div>
    <div class="alert alert-error" ng-show='errorMsg'>
        {{errorMsg}}
    </div>

    <h2>Ajouter une nouvelle recette</h2>

    <div>
        <input type="text" placeholder="Titre" ng-required="true"
               ng-model="recipe.title" width='100%' />
        
        <input type="text" placeholder="Temps de préparation (ex: 1h, 2h30, 30 minutes, ...)" ng-required="true"
               ng-model="recipe.duration" width='100%' />
        
        <div>
            <h3>Version :</h3>
            <div class="button-group">
                <div>
                    <button type="button" ng-class="{selected:recipe.version && recipe.version === 1}" ng-click="selectVersionQuick()">Rapide</button>
                    <span>Version simplifiée de la recette originale, rapide et facile à réaliser au quotidien</span>
                </div>
                <div>
                    <button type="button" ng-class="{selected:recipe.version && recipe.version === 2}" ng-click="selectVersionClassic()">Classique</button>
                    <span>Version classique de la recette</span>
                </div>
                <div>
                    <button type="button" ng-class="{selected:recipe.version && recipe.version === 3}" ng-click="selectVersionGastro()">Gastronomique</button>
                    <span>Version gastronomique, aucune limite à votre imagination</span>
                </div>
            </div>
        </div>
        
        <div>
            <h3>Difficulté :</h3>
            <div class="button-group">
                <button ng-class="{selected:recipe.difficulty && recipe.difficulty === 1}" type="button" ng-click="selectDifficultyEasy()">Facile</button>
                <button ng-class="{selected:recipe.difficulty && recipe.difficulty === 2}" type="button" ng-click="selectDifficultyMedium()">Moyenne</button>
                <button ng-class="{selected:recipe.difficulty && recipe.difficulty === 3}" type="button" ng-click="selectDifficultyHard()">Difficile</button>
            </div>
        </div>
        
        <div>
            <h3>Prix :</h3>
            <div class="button-group">
                <button type="button" ng-class="{selected:recipe.cost && recipe.cost === 1}" ng-click="selectCostLow()">€</button>
                <button type="button" ng-class="{selected:recipe.cost && recipe.cost === 2}" ng-click="selectCostMedium()">€€</button>
                <button type="button" ng-class="{selected:recipe.cost && recipe.cost === 3}" ng-click="selectCostHigh()">€€€</button>
                <button type="button" ng-class="{selected:recipe.cost && recipe.cost === 4}" ng-click="selectCostVeryHigh()">€€€€</button>
            </div>
        </div>
        
        <div>
            <h3>Illustration :</h3>
            <img class="thumbnail" ngf-thumbnail="recipe.file || '/images/thumb.jpg'">
            <button class="fa fa-camera" ngf-select ng-model="recipe.file" name="file" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" 
                    ngf-resize="{quality: .8, width: 100, height: 100}"></button>
        </div>
        
        <h3>Ingrédients :</h3>
        <div class="clearer">
            <div ng-class="{alt:ingredient.order % 2 === 0 && !ingredient.movingDown && !ingredient.movingUp, slideDown:ingredient.movingDown, slideUp:ingredient.movingUp}"
                 class="update-ingredient"
                 ng-repeat="ingredient in recipe.ingredients">
                <div>
                    <input type="text" id="ingredientName{{ingredient.order}}" ng-model="ingredient.name" ng-required="true" />
                    <button type="button" ng-hide="ingredient.movingDown || ingredient.movingUp || ingredient.order === recipe.ingredients.length" ng-click="ingredientDown(ingredient)" class="fa fa-arrow-down"></button>
                    <button type="button" ng-hide="ingredient.movingDown || ingredient.movingUp || ingredient.order === 1" ng-click="ingredientUp(ingredient)" class="fa fa-arrow-up"></button>
                    <button type="button" ng-hide="ingredient.movingDown || ingredient.movingUp" ng-click="removeIngredient(ingredient)" class="fa fa-times"></button>
                </div>
            </div>
        </div>
        <div class="clearer">
            <button type="button" ng-click="addIngredient()" class="fa fa-plus padding-icon link">Ajouter un ingrédient</button>
        </div>

        <h3>Etapes :</h3>
        <div class="clearer">
            <div ng-class="{alt:step.order % 2 === 0 && !step.movingDown && !step.movingUp, slideDown:step.movingDown, slideUp:step.movingUp}"
                 class="update-step"
                 ng-repeat="step in recipe.steps">
                <div>
                    <label for="stepDescription{{step.order}}">
                        Etape n°{{step.order}}
                    </label>
                    <button type="button" ng-hide="step.movingDown || step.movingUp || step.order === recipe.steps.length" ng-click="stepDown(step)" class="fa fa-arrow-down"></button>
                    <button type="button" ng-hide="step.movingDown || step.movingUp || step.order === 1" ng-click="stepUp(step)" class="fa fa-arrow-up"></button>
                    <button type="button" ng-hide="step.movingDown || step.movingUp" ng-click="removeStep(step)" class="fa fa-times"></button>
                    <br />
                    <textarea id="stepDescription{{step.order}}" ng-model="step.description" ng-required="true" rows="6"></textarea>
                    <span>
                        <img class="thumbnail" ngf-thumbnail="step.file || '/images/thumb.jpg'">
                        <button class="fa fa-camera" ngf-select ng-model="step.file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" 
                                ngf-resize="{quality: .8, width: 100, height: 100}"></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="clearer">
            <button type="button" ng-click="addStep()" class="fa fa-plus padding-icon link">Ajouter une étape</button>
        </div>
    </div>

    <button type="submit" class="btn">Valider</button>
</form>